@model LeerplatformJH.Models.ViewModels.StudentInschrijvingen
<h2>Inschrijvingen voor @Model.Student.Voornaam @Model.Student.Achternaam</h2>


    <table class="table">
        <thead>
            <tr>
                <th>Vak</th>
                <th>Goedkeuring</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var vakInschrijving in Model.VakInschrijvingen)
            {
                <tr>
                    <td>@vakInschrijving.Vak.Titel</td>
                    <td>@vakInschrijving.Goedkeuring</td>
                </tr>
            }
        </tbody>
    </table>

